.list {
    list-style-type: none;
}
.link {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

body {
    font-family: 'Inter', sans-serif;
    color: #434455;
  

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/*=====CONTAINER=====*/
.page-header-container{
    width: 100%;
    height: 100vh;
        background: linear-gradient(rgba(17, 19, 31, 0.80) 42.62%,
        rgba(17, 19, 31, 0.31) 84.12%,rgba(17, 19, 31, 0.00) 99.94%),
         url(../images/desktop-1280/section_hero_desctop1228_1.jpg);
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;
}
.header-div {
    width: 1080px;
    height: 48px;
    background-color: #FBFBFB;
   
   
}
/*=====/CONTAINER=====*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 100px;
border-radius: 8px;
    border: 1px solid #FBFBFB;

    background: #FBFBFB;
}
.header-li {
    display: inline-block;
}

 .logo {
    color: #1B414B;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.6px;
 }
  
  

 /*====header 1280===*/

 
.header-menu-link {
    color: #FBFBFB;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-family: Inter;
        font-size: 9px;
        font-style: normal;
        font-weight: 400;
        line-height: 11.7px;
        /* 11.7px */
        text-transform: uppercase;
        flex-shrink: 0;
        border-radius: 8px;
            background: rgba(27, 65, 75, 0.50);
            width: 91px;
                height: 40px;
                display: inline-flex;
                    align-items: flex-start;
                    gap: 4px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    
}
.header-menu-link-first:hover{
  
        background: #1B414B;
}
.linl-social-header {
    fill: rgba(27, 65, 75, 1);
}
.linl-social-header:hover {
fill: rgba(6, 39, 48, 1);
}
.social-item-header {
    display: inline-block;
   padding-right: 8px;
}
.content {
    width: 50%;
        margin: 200px auto 0;
}
.title-section-one {
    color: #FBFBFB;
        text-align: center;
        font-family: Inter;
        font-size: 80px;
        font-style: normal;
        font-weight: 500;
        line-height: 80px;
        /* 100% */
        letter-spacing: -1.6px;
        margin-bottom: 24px;
}
.paragraf-section-one{
    color: rgba(251, 251, 251, 0.70);
        text-align: center;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 140%;
        /* 22.4px */
        margin-bottom: 48px;
}
.button-order {
    display: flex;
    margin-left: auto;
        margin-right: auto;
padding: 16px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 15px;
    background: #1B414B;
    cursor: pointer;
}
 /*====/header1280===*/
 .current {
    position: relative;
    color: #404BBF;
 }
 .header-menu-link.current::after {
    content: "";
        position: absolute;
        left: 0;
        bottom: -4px;
        display: block;
        width: 313px;
        height: 1px;
        border-radius: 2px;
        background-color: red;
        
 }
   .first::after {
       width: 48px;
       height: 4px;
       position: relative;
       color: #404bbf;

   }

 /*section hero*/

 @media screen and (min-resolution: 192dpi) and (min-width: 1280px),
 screen and (min-resolution: 2dppx) and (min-width: 1280px),
 screen and (min-device-pixel-ratio: 2) and (min-width: 1280px) {
     .page-header-container {
         background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                 rgba(46, 47, 66, 0.70)), url(../images/desktop-1280/section_hero_desctop1228_2@2x.jpg);
     }
    }
.container {
    position: relative;
}
   .absolute {
    position: absolute;
    top: 20px;
    right: 100px;
    left: 100px;
   
   }